*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 4rem;
  overflow: auto;
}
p {
  margin-left: 10px;
}

aside {
  border: 1px solid blue;
  place-content: center;
}
main {
  place-content: center;
  position: relative;
  height: 100vh;
}

aside {
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}
#chat {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  position: relative;
  width: 100%;
  max-width: 850px;
  overflow-wrap: break-word;
}

#form {
  background-color: #000;
  bottom: 0;
  display: flex;
  height: 48px;
  left: 0;
  padding: 4px;
  position: absolute;
  right: 20px;
}

#input {
  border-radius: 9999px;
  border: 1px solid #eee;
  flex: 1;
  margin: 4px;
  padding: 0 8px;
}

#input:focus {
  outline: 0;
}

#form > button {
  background-color: #09f;
  color: #fff;
  border: 0;
  margin: 4px;
  border-radius: 4px;
}

#form > button:hover {
  background-color: #0cf;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;

  padding-bottom: 48px;
}

#messages > li {
  flex: 1;
  padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
  background-color: #000;
}

#date_messages {
  font-style: italic;
  margin-left: 20px;
}